<h1> Semester 1 Courses </h1>

<ul> 
	<li><%= link_to 'Healthy Habits', edit_user_registration_path %></li>
	<li><%= link_to 'Understanding My Body', edit_user_registration_path %></li>
	<li><%= link_to 'Physical Activity', edit_user_registration_path %></li>
	<li><%= link_to 'Inspirational', edit_user_registration_path %></li>
	<li><%= link_to 'Work/Life Balance', edit_user_registration_path %></li>
	<li><%= link_to 'Disease Prevention', edit_user_registration_path %></li>




	<%= link_to "Back", :back %>