<div class="semester_one_courses">
<h1> Semester 1 Courses </h1>

<ul> 
	<li><%= link_to 'Healthy Habits 101', courses_semester_one_healthy_habits_path %></li>
	<li><%= link_to 'Nutrition 101', courses_semester_one_understanding_my_body_path %></li>
	<li><%= link_to 'Physical Activity 101', courses_semester_one_physical_activity_path %></li>
	<li><%= link_to 'Inspirational 101', courses_semester_one_inspirational_path %></li>
	<li><%= link_to 'Work/Life Balance 101', courses_semester_one_work_life_balance_path %></li>
	<li><%= link_to 'Disease Prevention 101', courses_semester_one_disease_prevention_path %></li>
</div>
<%= link_to "Back", :back %>