<h1> Class Curriculum </h1>
<h2> Healthy Habits </h2>

<ul> 
	<li><%= link_to 'Intro To Creating Healthy Habits', classes_semester_one_intro_to_creating_healthy_habits_path %></li>
	<li><%= link_to 'Water Part 1',  classes_semester_one_water_part_one_path %></li>
	<li><%= link_to 'Water Part 2', classes_semester_one_water_part_two_path %></li>
	<li><%= link_to 'Green Vegetables', classes_semester_one_green_vegetables_path %></li>
	<li><%= link_to 'Eat Breakfast', classes_semester_one_eat_breakfast_path %></li>

	<%= link_to "Back", :back %>